.telo {
	min-width: 80%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
    background: linear-gradient(to  top, rgb(43, 176, 194), rgb(233, 205, 210)) fixed;

}

.about {
	padding-top: 30px;
}

.header {
	display: inline-flex;
	border: 1px solid #242323;
	background-color: #242323;
	color: #ffffff;
	width: 100%;
	margin-left: -2px;
	overflow: hidden;
	font-family: Arial;
}

.header a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.header h2 {
	margin-left: 2%;
}

.header a:hover {
	transition: 0.2s all;
	color: #b63c4d;
}

.header .search-container button {
	float: right;
	padding: 6px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.header input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}

.header .search-container button:hover {
	background: #ccc;
}

.header .search-container {
	float: right;
}

.main {
	display: flex;
	width: 1000px;
	height: 540px;
}

#c1 {
	padding-top: 30px;
	padding-left: 30px;
	width: 400px;
	height: 509px;
}

#cc1 {
	margin-top: 10px;
	margin-left: 37px;
	width: 100px;
	height: 125px;
}

.main .i {
	display: flex;
	margin-left: 75px;
	flex-direction: column;
	margin-bottom: 50px;
}

.main p {
	font-family: Arial, sans-serif;
}
